apiVersion: v1
kind: ConfigMap
metadata:
  name: amf
  labels:
    app.kubernetes.io/part-of: open5gs
data:
  amf.yaml: |
    logger:
      file: /var/log/open5gs/amf.log

    parameter:
      no_ipv6: true

    amf:
      sbi:
        - addr: 0.0.0.0
          port: 7777
          advertise: amf
      ngap:
        - addr: 0.0.0.0
      guami:
        - plmn_id:
            mcc: 001
            mnc: 01
          amf_id:
            region: 2
            set: 1
      tai:
        - plmn_id:
            mcc: 001
            mnc: 01
          tac: 12345
      plmn_support:
        - plmn_id:
            mcc: 001
            mnc: 01
          s_nssai:
            - sst: 1
      security:
          integrity_order : [ NIA2, NIA1, NIA0 ]
          ciphering_order : [ NEA0, NEA1, NEA2 ]
      network_name:
          full: Open5GS
      amf_name: open5GS-amf0

    nrf:
        sbi:
          - name: nrf
            port: 7777
