apiVersion: v1
kind: ConfigMap
metadata:
  name: nrf
  labels:
    app.kubernetes.io/part-of: open5gs
data:
  nrf.yaml: |
    logger:
    file: /var/log/open5gs/nrf.log

    parameter:
      no_ipv6: true
      
    nrf:
      sbi:
        addr:
          - 0.0.0.0
        port: 7777
