logger:
    file: /var/log/open5gs/amf.log

parameter:
    no_ipv6: true

amf:
    sbi:
      - addr: 172.30.1.21
        port: 7777
    ngap:
      - addr: 172.30.1.21
    guami:
      - plmn_id:
          mcc: 001
          mnc: 01
        amf_id:
          region: 2
          set: 1
    tai:
      - plmn_id:
          mcc: 001
          mnc: 01
        tac: 12345
    plmn_support:
      - plmn_id:
          mcc: 001
          mnc: 01
        s_nssai:
          - sst: 1
    security:
        integrity_order : [ NIA2, NIA1, NIA0 ]
        ciphering_order : [ NEA0, NEA1, NEA2 ]
    network_name:
        full: Open5GS
    amf_name: open5GS-amf0

nrf:
    sbi:
      - addr:
          - 172.30.1.17
        port: 7777
